{% import '@SyliusUi/Macro/flags.html.twig' as flags %}

{{ form_errors(form) }}

<div class="ui segment">
    <h4 class="ui dividing header">{{ 'monsieurbiz_advanced_shipping.ui.details'|trans }}</h4>
    {{ form_errors(form) }}
    {{ form_row(form.code) }}
    {{ form_row(form.calculator) }}
</div>

<div class="ui segment">

    <h4 class="ui dividing header">
        {{ 'monsieurbiz_advanced_shipping.ui.shipping_calculator_configuration'|trans }}
    </h4>
    {{ form_row(form.configuration) }}
</div>

<div class="ui styled fluid accordion">
    {% for locale, translationForm in form.translations %}
        <div class="title{% if loop.first %} active{% endif %}">
            <i class="dropdown icon"></i>
            {{ flags.fromLocaleCode(locale) }} {{ locale|sylius_locale_name }}
        </div>
        <div class="content{% if loop.first %} active{% endif %}">
            {{ form_row(translationForm.name) }}
        </div>
    {% endfor %}
</div>
